Class-Examples/Relax-NG/hanksLetter/drbInClass.rnc

start = twinkie 
twinkie = element xml {dateLine, fw, greeting, p+, closing, signed, metadata }

dateLine = element dateLine {when, text}
when = attribute when {xsd:date}

fw = element fw { line+ }
line = element line {text}

greeting = element greeting { mixed{ mistake*} }
mistake = element mistake {orig, reg}
orig = element orig {text}
reg = element reg {text}

p = element p {mixed { (rend | mistake)* } }
rend = element rend {color, mixed{ mistake*} }
color = attribute color {"red" | "blue" | "green" }

closing = element closing {mixed { (rend | mistake)* } }
signed = element signed {text}
metadata = element metadata { source }

source = element source {url, empty }
url = attribute url {xsd:anyURI }












