Class-Examples/TEI-ODD-Examples/Behrend-Schema-Assoc/tei_mb.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en" n="testms">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Sample ODD for Mary Behrend Calendar started from TEI for Manuscript
          Description</title>
        <author>Elisa Beshero-Bondar</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License</licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are
              permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list
                of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this
                list of conditions and the following disclaimer in the documentation and/or other
                materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any
              express or implied warranties, including, but not limited to, the implied warranties
              of merchantability and fitness for a particular purpose are disclaimed. In no event
              shall the copyright holder or contributors be liable for any direct, indirect,
              incidental, special, exemplary, or consequential damages (including, but not limited
              to, procurement of substitute goods or services; loss of use, data, or profits; or
              business interruption) however caused and on any theory of liability, whether in
              contract, strict liability, or tort (including negligence or otherwise) arising in any
              way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the <ref
              target="mailto:info@tei-c.org">TEI Consortium</ref>.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-10-11T12:14:44.263Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
      <appInfo>
        <application ident="RomaJS" version="1.0.0" when="2023-10-11T15:55:05.586Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
    </encodingDesc>
  </teiHeader>
  <text>
    <body>
      <p>TEI for manuscript description</p>
      <schemaSpec ident="tei_mb" start="TEI teiCorpus" prefix="tei_" targetLang="en" docLang="en">
        <moduleRef key="header"/>
        <moduleRef key="linking"/>
        <moduleRef key="core"/>
        <moduleRef key="corpus" include="particDesc"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure"
          except="argument back byline closer div1 div2 div3 div4 div5 div6 div7 docAuthor docDate docEdition docImprint docTitle epigraph floatingText front group imprimatur opener postscript salute signed titlePage titlePart trailer"/>
        <moduleRef key="namesdates"
          except="affiliation langKnowledge langKnown listEvent listNym listObject nationality nym object objectIdentifier objectName occupation offset persona region residence settlement sex socecStatus state terrain trait"/>
        <moduleRef key="transcr"
          except="addSpan am ex facsimile line listTranspose path redo restore retrace secl sourceDoc subst substJoin surface surfaceGrp surplus transpose undo zone"/>
        <moduleRef key="figures"/>
        <moduleRef key="msdescription"
          except="accMat acquisition additional altIdentifier binding bindingDesc catchwords collation colophon condition custEvent custodialHist decoDesc decoNote depth dim dimensions explicit filiation finalRubric foliation height heraldry history incipit institution layout layoutDesc msItemStruct msName msPart musicNotation objectDesc objectType provenance recordHist rubric scriptDesc seal sealDesc secFol signatures stamp summary support supportDesc surrogates typeDesc typeNote watermark width"/>
        <elementSpec ident="div" mode="change">
          <attList>
            <attDef ident="change" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="org" mode="delete"/>
            <attDef ident="sample" mode="delete"/>
            <attDef ident="type" mode="change">
              <valList type="semi" mode="change"/>
            </attDef>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="met" mode="delete"/>
            <attDef ident="real" mode="delete"/>
            <attDef ident="rhyme" mode="delete"/>
            <attDef ident="part" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="handShift" mode="change">
          <attList>
            <attDef ident="new" mode="change">
              <valList mode="change" type="semi">
                <valItem mode="add" ident="#h1">
                  <desc versionDate="2023-10-11" xml:lang="en">black ink</desc>
                </valItem>
                <valItem mode="add" ident="#h2">
                  <desc versionDate="2023-10-11" xml:lang="en">red ink</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="pb" mode="change">
          <classes mode="change">
            <memberOf key="att.breaking" mode="delete"/>
            <memberOf key="att.edition" mode="delete"/>
            <memberOf key="att.spanning" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="ana" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="persName" mode="change">
          <attList>
            <attDef ident="ref" mode="change">
              <valList type="semi" mode="change">
                <valItem mode="add" ident="#MB">
                  <desc versionDate="2023-10-11" xml:lang="en">Mary Behrend</desc>
                </valItem>
                <valItem mode="add" ident="#SP">
                  <desc versionDate="2023-10-11" xml:lang="en">St. Patrick</desc>
                </valItem>
                <valItem mode="add" ident="#MW">
                  <desc versionDate="2023-10-11" xml:lang="en">Mr. Weir</desc>
                </valItem>
                <valItem mode="add" ident="#EB">
                  <desc versionDate="2023-10-11" xml:lang="en">Ernst Behrend</desc>
                </valItem>
                <valItem mode="add" ident="#RC">
                  <desc versionDate="2023-10-11" xml:lang="en">Reece Cullen, student from the future
                    who gets in time machine and travels to 1909.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
